<form appCloseOnEsc [formGroup]="this.newFertilizationForm" (ngSubmit)="this.handleSubmit()" appSubmitOnModifierEnter>
  <label for="type">農薬の種類</label>
  <input type="text" name="type" id="type" required formControlName="type" ngxAutofocus />
  <label for="note">メモ</label>
  <textarea name="note" id="note" formControlName="note"></textarea>
  <button type="submit"><ng-container *ngIf="!(this.loading | async); else loadingSpinner">登録</ng-container></button>
</form>
<ng-template #loadingSpinner><base-spinner color="white"></base-spinner></ng-template>
