ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 0;
  max-width: 100%;
  overflow-y: scroll;
}

li {
  margin: 0 4px;
  display: inline-flex;
  align-items: center;
}
