<div class="card members">
  <h1>メンバー管理</h1>
  <div class="card">
    <h3>作業員</h3>
    <ul>
      <li *ngFor="let member of this.adminMembersWithDetails;">
        <span>{{ member.displayName ? member.displayName : member.email }}</span>
        <svg (click)="this.handleMemberDeleteClick(member.uid)" xmlns="http://www.w3.org/2000/svg" height="48"
          width="48" viewBox="0,0,48,48">
          <path
            d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z" />
        </svg>
      </li>
    </ul>

  </div>
  <div class="card">
    <h3>観察者</h3>
    <ul></ul>
  </div>
</div>

<base-modal (modal-closed)="this.handleModalClose()" [show]="this.uidToDelete" modal-title="本当に削除しますか？">
<button type="button" class="delete" (click)="this.confirmDelete()">削除</button>
<button type="button" (click)="this.handleModalClose()">キャンセル</button>
</base-modal>
