<div class="card members">
  <h1 (click)="this.toggleMembers()" i18n-title title="Manage observer users which can only view information and worker members who can view and edit information." i18n>
    Manage Members
  </h1>
  <ng-template [ngIf]="this.showMembers">
    <div class="card">
      <h3 title="Workers can view and edit information." i18n>Workers</h3>
      <ul>
        <li *ngFor="let member of this.adminMembersWithDetails">
          <span>{{ member.displayName ? member.displayName : member.email }}</span>
          <svg
            (click)="this.handleMemberDeleteClick(member.uid)"
            xmlns="http://www.w3.org/2000/svg"
            height="48"
            width="48"
            viewBox="0,0,48,48"
          >
            <path
              d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z"
            />
          </svg>
        </li>
      </ul>
    </div>
    <div class="card" *ngIf="this.observerMembersWithDetails.length">
      <h3 i18n-title title="Observers can only view information." i18n>Observers</h3>
      <ul>
        <li *ngFor="let member of this.observerMembersWithDetails">
          <span>{{ member.displayName ? member.displayName : member.email }}</span>
          <svg
            (click)="this.handleMemberDeleteClick(member.uid)"
            xmlns="http://www.w3.org/2000/svg"
            height="48"
            width="48"
            viewBox="0,0,48,48"
          >
            <path
              d="m12.45 37.65-2.1-2.1L21.9 24 10.35 12.45l2.1-2.1L24 21.9l11.55-11.55 2.1 2.1L26.1 24l11.55 11.55-2.1 2.1L24 26.1Z"
            />
          </svg>
        </li>
      </ul>
    </div>
    <div class="card">
      <h3 i18n>Add Members</h3>
      <app-add-member-form></app-add-member-form>
    </div>
  </ng-template>
</div>

<base-modal (modal-closed)="this.handleModalClose()" [show]="!!this.uidToDelete" i18n-modal-title modal-title="Are you sure?">
  <div class="contact-buttons">
    <button type="button" class="delete" (click)="this.confirmDelete()" i18n>Delete</button>
    <button type="button" (click)="this.handleModalClose()" i18n>Cancel</button>
  </div>
</base-modal>
