<form appSubmitOnModifierEnter appCloseOnEsc [formGroup]="this.newReportForm"
  (ngSubmit)="this.handleReportSubmit($event)">
  <label for="regular-id">整理番号</label>
  <input id="regular-id" readonly type="number" [value]="this.regularId | async" />
  <label for="height">高さ (cm)</label>
  <input type="number" name="height" id="height" required formControlName="height" ngxAutofocus />
  <label for="picture">画像</label>
  <input type="file" name="picture" id="picture" accept="image/png, image/jpeg" size="500000"
    formControlName="picture" />
  <label for="budding">摘芯後の着花</label>
  <select name="budding" id="budding" formControlName="budding">
    <option *ngFor="let option of this.buddingOptions" [value]="option">{{ option }}</option>
  </select>
  <label for="bean-yield">実付き</label>
  <select name="bean-yield" id="bean-yield" formControlName="beanYield">
    <option *ngFor="let option of this.yieldOptions" [value]="option">{{ option }}</option>
  </select>
  <label for="notes">メモ</label>
  <textarea name="notes" id="notes" formControlName="notes"></textarea>
  <button type="submit"><ng-container *ngIf="!(this.loading | async); else loadingSpinner">送信</ng-container></button>
</form>
<ng-template #loadingSpinner><loading-spinner color="white"></loading-spinner></ng-template>
