h1,
h3 {
  text-align: center;
}

nav {
  margin-bottom: 0;
}

nav button {
  font-size: 2rem;
  padding: 0rem 1.5rem;
  margin: 0 0.5rem;
  height: 50px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: none;
}

h1 {
  text-align: center;
}
