h1 {
  text-align: center;
}

button {
  border-radius: var(--radius);
  background-color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  cursor: pointer;
  height: 50px;
  font-size: 1.5rem;
}

table {
  text-align: center;
}

tbody {
  border: 1px solid var(--secondary-color);
}
