<h1 title="当農園の気象情報を記録する場所">環境記録</h1>
<p class="message">現在、気象情報を出力する方法は実装していませんが開発する予定はあります。</p>
<div class="card">
  <p>
    現在の気象情報を取得して登録する。農園の位置情報が登録されていれば、それを元に自動的に記録を作ることができます。
  </p>
  <button (click)="this.addRecord()" type="button">追加</button>
  <loading-spinner *ngIf="this.loading | async"></loading-spinner>
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th>日付</th>
        <th>天気</th>
        <th>雲の被覆率</th>
        <th>最高気温</th>
        <th>最低気温</th>
        <th>湿度</th>
        <th>風速</th>
        <th>雨量</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of this.environmentRecords | async">
        <td>{{ record.createdAt | date : 'short' }}</td>
        <td>{{ record.weather }}</td>
        <td>{{ record.clouds }}%</td>
        <td>{{ record.high }}</td>
        <td>{{ record.low }}</td>
        <td>{{ record.humidity }}%</td>
        <td>{{ record.windSpeed }}</td>
        <td>{{ record.rainfall }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="(this.environmentRecords | async)?.length" ngxObservable (intersection)="this.loadNextPage()">
    気象情報は<a href="https://openweathermap.org/">OpenWeather</a>から取得しています。
  </p>
</div>

<base-modal [show]="this.error | async" modal-title="天気登録" (modal-closed)="this.error.next(false)">
  <p>自動登録が失敗しましたので、手動で天気情報をご入力ください。</p>
  <app-weather-form (submitted)="this.handleFormSubmit()"></app-weather-form>
</base-modal>
