<h1 i18n-title title="Record weather data for your farm. It uses your farm's location if you have it registered." i18n>Weather Data</h1>
<div class="card">
  <button (click)="this.addRecord()" type="button" i18n>Add</button>
  <base-spinner *ngIf="this.loading | async"></base-spinner>
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th i18n>Date</th>
        <th i18n>Weather</th>
        <th i18n>Cloud Coverage</th>
        <th i18n>High Temp</th>
        <th i18n>Low Temp</th>
        <th i18n>humidity</th>
        <th i18n>Wind Speed</th>
        <th i18n>Rainfall</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of this.environmentRecords | async">
        <td>{{ record.createdAt | date : 'short' }}</td>
        <td>{{ record.weather }}</td>
        <td>{{ record.clouds }}%</td>
        <td>{{ record.high }}</td>
        <td>{{ record.low }}</td>
        <td>{{ record.humidity }}%</td>
        <td>{{ record.windSpeed }}</td>
        <td>{{ record.rainfall }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="(this.environmentRecords | async)?.length" ngxObservable (intersection)="this.loadNextPage()" i18n>
    Weather data is taken from <a href="https://openweathermap.org/">OpenWeather</a>.
  </p>
</div>

<base-modal [show]="this.error | async" i18n-modal-title modal-title="Weather Report" (modal-closed)="this.error.next(false)">
  <p i18n>Automatic weather report failed. Please manually add weather data.</p>
  <app-weather-form (submitted)="this.handleFormSubmit()"></app-weather-form>
</base-modal>
