<h1>{{ (this.area | async)?.name }}</h1>
<div class="card">
  <h3>コーヒー木一覧</h3>
  <table>
    <thead>
      <tr>
        <th>整理番号</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <nav>
    <button type="button">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
        <path d="M24 40 8 24 24 8l2.1 2.1-12.4 12.4H40v3H13.7l12.4 12.4Z" />
      </svg>
    </button>
    <button type="button">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
        <path d="m24 40-2.1-2.15L34.25 25.5H8v-3h26.25L21.9 10.15 24 8l16 16Z" />
      </svg>
    </button>
  </nav>
</div>
<div></div>
