<form [formGroup]="this.formGroup" (ngSubmit)="this.handleSubmit()">
  <p *ngIf="this.submitError" i18n>The email you provided is not registered or is your own.</p>
  <label for="email" i18n>Email</label>
  <p class="warning" *ngIf="this.emailDoesNotExist" i18n>
    The email address provided is not registered.
  </p>
  <input type="email" required formControlName="email" />
  <label for="role" i18n>Role</label>
  <select name="role" id="role" formControlName="role">
    <option *ngFor="let role of this.roles" [ngValue]="role.value">{{ role.title }}</option>
  </select>
  <button [disabled]="this.formGroup.status !== 'VALID'" type="submit" i18n>Invite</button>
</form>
