<form [formGroup]="this.formGroup" (ngSubmit)="this.handleSubmit()">
  <p *ngIf="this.submitError">指定したメールアドレスは自身のメールアドレスか、既に追加されているかです。</p>
  <label for="email">メールアドレス</label>
  <p class="warning" *ngIf="this.emailDoesNotExist">入力したメールアドレスは未登録です。先に招待したい方に登録してもらいましょう。</p>
  <input type="email" required formControlName="email">
  <label for="role">権限</label>
  <select name="role" id="role" formControlName="role">
    <option *ngFor="let role of this.roles" [ngValue]="role.value">{{ role.title }}</option>
  </select>
  <button [disabled]="this.formGroup.status !== 'VALID'" type="submit">招待する</button>
</form>
