<form appSubmitOnModifierEnter appCloseOnEsc [formGroup]="this.newTreeFromGroup" (ngSubmit)="this.handleSubmit()">
  <label for="regular-id">整理番号</label>
  <p *ngIf="this.treeIdError | async" class="warning">整理番号は既に登録されています。</p>
  <input id="regular-id" required type="number" min="1" formControlName="regularId" ngxAutofocus />
  <label for="species">品種</label>
  <input type="text" required id="species" formControlName="species" />
  <label for="start-height">根付いた頃の高さ(cm)</label>
  <input id="start-height" required type="number" min="1" formControlName="startHeight" />
  <loading-spinner *ngIf="this.loading | async"></loading-spinner>
  <button type="submit" [disabled]="this.newTreeFromGroup.invalid"><ng-container
      *ngIf="!(this.loading | async); else loadingSpinner">追加</ng-container></button>
</form>
<ng-template #loadingSpinner><loading-spinner color="white"></loading-spinner></ng-template>
