h1, h3 {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius);
  padding: 1rem;
  font-size: 1.75rem;
  text-align: center;
  margin: 0 0 0.5rem 0;
}
li:last-child {
  margin-bottom: 0;
}

.round {
  display: block;
  margin: 1rem auto;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  padding: 0;
}
.round svg {
  fill: var(--secondary-color);
  cursor: pointer;
}
