h1,
h3 {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius);
  padding: 1rem;
  font-size: 1.75rem;
  text-align: center;
  margin: 0 0 0.5rem 0;
  cursor: pointer;
  user-select: none;
}
li:last-child {
  margin-bottom: 0;
}

