<div class="card">
  <h1 i18n>My Farms</h1>
  <ul>
    <li class="farm-li" *ngFor="let farm of this.farms | async" [routerLink]="['/farms', farm.id]"
      [queryParams]="{ 'show-logs': true }">
      <h5 class="farm-title" i18n>Farm Name</h5>
      <h3 class="farm-name">{{ farm.name }}</h3>
      <h5 class="members-title" i18n>Members</h5>
      <div class="members-list">
        <ul>
          <li *ngFor="let member of farm.adminMembers">
            <span>{{ member.name }}</span>
            <img *ngIf="member.photoURL" [src]="member.photoURL" alt="Avatar" i18n-alt="Avatar">
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<a class="card round" routerLink="./new">
  <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
    <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
  </svg>
</a>

<router-outlet></router-outlet>
