<div class="round-block">
  <a routerLink=".." class="card round">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
      <path d="M24 40 8 24 24 8l2.1 2.1-12.4 12.4H40v3H13.7l12.4 12.4Z" />
    </svg>
  </a>
  <div class="card round" (click)="this.toggleAddModal(true)">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
      <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
    </svg>
  </div>
  <div class="card round" (click)="this.toggleEditModal()">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
      <path
        d="M9 39h2.2l22.15-22.15-2.2-2.2L9 36.8Zm30.7-24.3-6.4-6.4 2.1-2.1q.85-.85 2.1-.85t2.1.85l2.2 2.2q.85.85.85 2.1t-.85 2.1Zm-2.1 2.1L12.4 42H6v-6.4l25.2-25.2Zm-5.35-1.05-1.1-1.1 2.2 2.2Z" />
    </svg>
  </div>
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th i18n>Date</th>
        <th i18n>Width</th>
        <th i18n>Budding</th>
        <th i18n>Pollination</th>
        <th i18n>Memo</th>
        <th i18n>Photo</th>
        <th i18n>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="this.addingReport$ | async"><base-spinner></base-spinner></tr>
      <ng-container *ngIf="this.reports | async as reportsValue">
        <tr *ngFor="let report of reportsValue">
          <td>{{ report.createdAt | date : 'short' }}</td>
          <td>{{ report.width }}</td>
          <td>{{ report.flowering }}</td>
          <td>{{ report.pollination ? 'O' : '' }}</td>
          <td (click)="this.togglePictureModal(report.photoURL)">{{ report.notes }}</td>
          <td (click)="this.togglePictureModal(report.photoURL)">
            <img *ngIf="report.photoURL" [src]="report.photoURL" alt="photo" />
          </td>
          <td class="remove">
            <svg (click)="this.setReportToDelete(report.id)" xmlns="http://www.w3.org/2000/svg" height="48" width="48"
              viewBox="0,0,48,48">
              <path
                d="M13.05 42q-1.25 0-2.125-.875T10.05 39V10.5H8v-3h9.4V6h13.2v1.5H40v3h-2.05V39q0 1.2-.9 2.1-.9.9-2.1.9Zm21.9-31.5h-21.9V39h21.9Zm-16.6 24.2h3V14.75h-3Zm8.3 0h3V14.75h-3Zm-13.6-24.2V39Z" />
            </svg>
          </td>
        </tr>
        <div *ngIf="reportsValue.length > 4" ngxObservable (intersection)="this.handleEndOfPage()"></div>
      </ng-container>
    </tbody>
  </table>
</div>

<base-modal [show]="this.showAddModal | async" i18n-modal-title modal-title="New Report"
  (modal-closed)="this.toggleAddModal(false)">
  <app-new-strawberry-report-form (submitted)="this.handleNewReportSubmission()"></app-new-strawberry-report-form>
</base-modal>

<base-modal [show]="!!(this.showPictureModal$ | async)" (modal-closed)="this.togglePictureModal(undefined)"
  i18n-modal-title modal-title="Photo">
  <div class="photo-box">
    <img *ngIf="this.showPictureModal$ | async as picture" [src]="picture" alt="photo" />
  </div>
</base-modal>

<base-modal [show]="!!(this.reportToDelete$ | async)" (modal-closed)="this.setReportToDelete(undefined)"
  i18n-modal-title modal-title="Are you sure?" appCloseOnEsc>
  <div class="confirm-buttons">
    <button type="button" class="delete" (click)="this.removeReport()" i18n>Delete</button>
    <button type="button" (click)="this.setReportToDelete(undefined)" i18n>Cancel</button>
  </div>
</base-modal>

<base-modal [show]="this.showEditModal$ | async" (modal-closed)="this.toggleEditModal(false)" i18n-modal-title
  modal-title="Edit Tree">
  <app-edit-strawberry-form (submitted)="this.toggleEditModal(false)"></app-edit-strawberry-form>
</base-modal>
