<form [formGroup]="this.newFertilizationForm" (ngSubmit)="this.handleSubmit()" appSubmitOnModifierEnter appCloseOnEsc>
  <label for="type">肥料の種類</label>
  <select name="type" id="type" formControlName="type">
    <option *ngFor="let option of this.typeOptions" [ngValue]="option.value">{{ option.name }}</option>
  </select>
  <label for="note">メモ</label>
  <textarea name="note" id="note" formControlName="note"></textarea>
  <button type="submit"><ng-container *ngIf="!(this.loading | async); else loadingSpinner">登録</ng-container></button>
</form>
<ng-template #loadingSpinner><base-spinner color="white"></base-spinner></ng-template>
